.toy-background
	.overlay.green-overlay
	.main-container
		h1
			| Infovis
		h2 
			| Personal Project
		h3
			| This is a personal data project that shows my music preferences.
		h3
			| Design with love by nowi
			a.tag-github(href="https://github.com/noeliablopez")
				| ♡
.exercise-section
	.exercise-title
		h1
			| GENERAL
		h1 
			| DETAILS
		.bar
	.details
		.detail-wrapper
			img(src='assets/tracks.svg')
			h1
				| {{ homeCtrl.tracks }}
			h4
				| TRACKS
		.detail-wrapper
			img(src='assets/artists.svg')
			h1
				| {{ homeCtrl.artist }}
			h4
				| ARTISTS
		.detail-wrapper
			img(src='assets/sound-bars.svg')
			h1
				| {{ homeCtrl.average }}
			h4
				| AVERAGE
.exercise-section
	.exercise-title
		h1
			| #1
		h1
			| TOP
		h1 
			| ARTISTS
		.bar
	p 
		| This visualization shows the top 10 most listened artist, their albums and tracks. Each color represents the frequency.
	a.link.green-link.tag-top-artists(ui-sref='centered.top-artists')
		| View more
.exercise-section
	.exercise-title
		h1
			| #2
		h1
			| TOP
		h1 
			| TRACKS
		.bar
	p 
		| Top 20 most listened tracks
	a.link.green-link.tag-top-tracks(ui-sref='centered.top-tracks')
		| View more

.exercise-section
	.exercise-title
		h1
			| #3
		h1
			| SIMILAR
		h1 
			| ARTISTS
		.bar
	p 
		| The idea was to get the 120 most listened artist and see how they are connected. You can see the 120 artists as little points and the subgraphs that they formed.
	a.link.green-link.tag-similar-artists(ui-sref='centered.similar-artist')
		| View more
