.toy-background {
  background-image: url('https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/2/12/1423759757798/6a8c828c-41ef-43aa-bb73-75d86aee1c00-2060x1236.jpeg');
  //background-color: $green;
  background-size: cover;
  height: 100%;
  margin: 0;
}

.green-overlay {
  background-color: $green;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}

.white-container {
  background-color: $white;
  left: 50%;
  max-width: 80%;
  opacity: 0.85;
  padding: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;

  p,
  h1,
  h2 {
    color: $black;
  }

  @media (max-width: 992px) {
    padding: 10px;
  }
}

.pink-link {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 0;
  text-decoration: none;
  width: 200px;
}

.exercise-section {
  height: 100%;
  padding: 30px 50px;
  text-align: left;

  p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 40px;
  }
}

.exercise-title {
  .bar {
    margin: 0;
  }

  h1 {
    font-size: 40px;
  }
}
