@import url('https://fonts.googleapis.com/css?family=Dosis:400,300,700');

// ------------ TEXT  ------------

.nvtooltip {
  background-color: $white;
  border: 2px solid $green;
  border-radius: 0;
  font-family: 'Dosis', sans-serif;
  padding: 5px 10px;

  span {
    font-size: 14px;
    margin: 0 5px;
    vertical-align: middle;
  }

  .data {
    font-weight: 700;
  }
}

svg {
  &.nvd3-svg {
    margin: 0 auto;
  }
}

.circle-reference {
  border-radius: 100%;
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;
}
