.references(ng-show='topArtistsCtrl.chart')
	#h.channel
		p
			| Lower
		canvas(width="500", height="1")
		p
			| Higher
div(ng-if='topArtistsCtrl.chart')
	nvd3.with-3d-shadow.with-transitions(options='topArtistsCtrl.options' data='topArtistsCtrl.data')
